<!Doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Maintenance page</title>
  </head>
  <body>
      <h1>Website is under Maintenance</h1>
      <p>We will be right back after some time</p>

     {{> footer}}
  </body>
</html>